<ion-view view-title="Lupa password" align-title="left">
    <ion-content style="background: url(img/login.jpeg) center; background-size: cover;">
        <div class="header-rightpad hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1> </h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username / Email" ng-model="username" highlight-color="balanced" type="text"></ion-md-input>
            <p ng-if="errormessage">{{errormessage}}</p>
        </div>
        <div class="padding">
            <button ng-click="resetpass(username, password)" class="button button-full button-balanced ink">Atur ulang password</button>
        </div>
    </ion-content>
</ion-view>